
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [2]:
name = "Priya"
print("Hello",name+", welcome to Python Lab")

Hello Priya, welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [3]:
a , b , c = input("Enter Number : ").split()
a = int(a)
b = int(b)
c = int(c)
print("SUM = ",a+b+c)

Enter Number :  10 20 30

SUM =  60

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [4]:
name , age , percentage = input("Please Enter Following Information").split()
age = int(age)
percentage = float(percentage) 
print(name)
print(age)
print(percentage)

Please Enter Following Information Riya 18 92.5

Riya
18
92.5

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [5]:
print("Python" , "Programming" , "Basics" , sep="|" , end="###")

Python|Programming|Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [6]:
a = input("Enter Valid Input")
print("Value: ",a)
print("Type: ",type(a))
print("ID: ",id(a))

Enter Valid Input hello

Value:  hello
Type:  <class 'str'>
ID:  2205007284576

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [7]:
a = 10;
print("Original ID of a: ",id(a))
a = 11;
print("New ID of a: ",id(a))

Original ID of a:  140722351355080
New ID of a:  140722351355112

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [11]:
print("""Welcome to Python 
This is the second lab
Enjoy coding!
""")

print("Welcome to Python \nThis is the second lab \nEnjoy coding!")

Welcome to Python
This is the second lab
Enjoy coding!

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [38]:
print(f"{"Sr No":^6} {"Name":^11} {"Subject":^10} {"Grade":^2} {"percentage":^10}")
print(f"{1:>5} {"Nisha Patel":^} {"Math":>6} {"A":^14} {92:>5}")
print(f"{2:>5} {"Aarav Modi":^} {"Science":>10} {"B+":^9} {85:>8}")
print(f"{3:>5} {"Jiya Shah":^} {"English":>11} {"A+":^9} {96:>8}")

Sr No     Name      Subject   Grade percentage
    1 Nisha Patel   Math       A           92
    2 Aarav Modi    Science    B+           85
    3 Jiya Shah     English    A+           96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [50]:
a = input("Enter a value")
a = float(a)
print(f"2 decimals: {a : .2f}")
print(f"3 decimals: {a : .3f}")
print(f"Width 10: {a : 10.2f}")

Enter a value 37.2567

2 decimals:  37.26
3 decimals:  37.257
Width 10:      37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [47]:
a , b = input("Enter Number : ").split()
a = int(a)
b = int(b)
print(f"SUM = ",a+b)
print(f"Diffrence = ",a-b)
print(f"Product = ",a*b)

Enter Number :  12 8

SUM =  20
Diffrence =  4
Product =  96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [2]:
date,month,year = input("Enter a date").split()
print(date , month , year , sep = '/')
print(year , month , date , sep = '-')

Enter a date 01 12 2025

01/12/2025
2025-12-01

### 13) WAP to calculate area and perimeter of a circle.

In [3]:
r = float(input("Enter a value for Radius"))
print("Area of Circle = ",3.14*r*r)
print("Perimeter of Circle = ",2*3.14*r)

Enter a value for Radius 1

Area of Circle =  3.14
Perimeter of Circle =  6.28

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [5]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = (fahrenheit - 32) * 5 / 9
print(f"{fahrenheit} F is equal to {celsius} C")

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 1.8)+32
print(f"{celsius} C is equal to {fahrenheit} F")

Enter temperature in Fahrenheit:  32

32.0 F is equal to 0.0 C

Enter temperature in Celsius:  0

0.0 C is equal to 32.0 F

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [5]:
d = float(input("Enter a Distance : "))
print("Distance in Kilometer = ",d/1000)
print("Distance in meter = ",d/100)
print("Distance in feet = ",d/1000)
print("Distance in inches = ",d/12)
print("Distance in centimeter = ",d/10)

Enter a Distance :  1000

Distance in Kilometer =  1.0
Distance in meter =  10.0
Distance in feet =  1.0
Distance in inches =  83.33333333333333
Distance in centimeter =  100.0